@using System.Runtime.InteropServices;
@{
    ViewData["Title"] = "Home Page";
    var assembly = typeof(Startup).Assembly;
    var version = assembly.GetName().Version;
    var app = Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application;
    var buildTime = System.IO.File.GetCreationTimeUtc(assembly.Location);
}




    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Project Obsidian</h1>
        <p>Blazing fast, extremely scalable authentication server! </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">View on Github &raquo;</a></p>
      </div>
      
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-bolt fa-large" aria-hidden="true"></i>
          <h2>Blazing Fast</h2>
          <p>Scalable architecture with .NET Core powered, Obsidian provides strong and fast authentication service. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-lock fa-large" aria-hidden="true"></i>
          <h2>Secure First</h2>
          <p>AES + Salt encryped data, which is trusted by all authentic organizations, is strictly used in Obsidian. Obsidian takes your security seriously. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-share-alt fa-large" aria-hidden="true"></i>
          <h2>Highly Flexible</h2>
          <p>Obsidian fully supports standard OAuth 2.0 protocol. Just develop your API without taking painstaking effort on authentication system. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
         <p>Project Obsidian @version.ToString(2) <small>Build @version.Build</small></p>
         <p>Runtime: @app.RuntimeFramework.FullName</p>
         <p>Environment: @RuntimeInformation.ProcessArchitecture process running on @RuntimeInformation.OSArchitecture @RuntimeInformation.OSDescription</p>
         <p>Built at: @buildTime UTC</p>
      </footer>
    </div> <!-- /container -->


<link href="~/css/Landing.css" rel="stylesheet" />