@using Obsidian.Domain
@using Obsidian.Models.OAuth
@model PermissionGrantModel
@{
    var client = ViewBag.Client as Client;
    var scopes = ViewBag.Scopes as IList<PermissionScope>;
    var i = 0;
}
<div class="fullscreen">
    <div class="text-padding left-div">
        @*Left Section*@
        <h1>Permission</h1>
        <h3>Allow &ensp;<b>@client.DisplayName</b>&ensp; to access these following information?</h3>
    </div>
    <div class="form form-padding">
        @*Right Section*@
        <form asp-action="PermissionGrant" asp-controller="OAuth20" class="text-padding">
            <ul class="list-group text-padding">
                @foreach (var scope in scopes)
                {
                    var id = $"{nameof(Model.GrantedScopeNames)}_{ ++i}";
                    <li class="list-group-item list-group-item-info">
                        <div class="checkbox checkbox-primary">
                            <label class="list-group-item-right">
                                <input
                                    name="@nameof(Model.GrantedScopeNames)" id="@id"
                                    type="checkbox" value="@scope.ScopeName" />
                            </label>
                        </div>
                        <h4 class="list-group-item-heading">@scope.DisplayName</h4>
                        <p class="list-group-item-text">@scope.Description</p>
                    </li>
                }
            </ul>
            <input asp-for="ProtectedOAuthContext" type="hidden" />
            <button class="btn btn-lg btn-info btn-block btn-raised" type="submit">Next</button>
        </form>
    </div>
</div>
<link href="~/css/SignIn.css" rel="stylesheet" />
